.red-border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.flex-spread{
    justify-content: space-between;
}

.size-l{
    font-size: 28px;
}

.content-center{
    text-align: center;
}